[Unit]
Description=Tux Control Web Service Celery worker
Requires=network.target
After=rabbitmq-server.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/usr/bin/tux-control celeryworker --config_prod

[Install]
WantedBy=multi-user.target
