[Unit]
Description=Tux Control Web Service Celery beat
Requires=network.target

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/usr/bin/tux-control celerybeat --config_prod --pid=/run/tux-control/celerybeat.pid --schedule=/run/tux-control/celerybeat.db
PIDFile=/run/tux-control/celerybeat.pid

[Install]
WantedBy=multi-user.target
