flask
flask-socketio
python-socketio
Flask-Babel
flask-migrate
raven
python-magic
pyyaml
docopt
celery
Flask-Celery-Tools
Flask-SQLAlchemy
eventlet
setuptools
flask-cors
flask-jwt-extended~=3.24.1
file-thumbnailer[pdf]==0.0.8